/********************************** Project Items **********************************/

.region{
    display: block;
    margin-left: 10%;
    margin-right: 10%;
}
.region h2{
    font-size: 175%;
}
.margin-top{
    padding-top: 15%;
}
.region p{
    font-size: 125%;
}
.project-group{
    margin-left: 22.5%;
    margin-right: 22.5%;
}
/*********************** Mobile Layout ***************************/
@media screen and (max-width: 1000px) {
    .region {
        grid-template-columns: 100%;
        margin-left: 7.5%;
        margin-right: 7.5%;
    }

    .region h2 {
        font-size: 100%;
    }

    .region p {
        font-size: 87.5%;
    }

    .top-margin {
        padding-top: 8em;
    }
    .project-group {
        margin-left: 7.5%;
        margin-right: 7.5%;
    }
}