/********************************** Grid Layout **********************************/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 2em;
}

/********************************** Project Items **********************************/
p.just {
    text-align: justify;
}

hr.table {
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
    border-style: inset;
    border-width: 20px;
    border: solid #022E6D;
}

hr.projects {
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 15%;
    margin-right: 15%;
    border-style: inset;
    border-width: 20px;
    border: solid #022E6D;
}

.smaller{
    margin-left: 17.5%;
    margin-right: 17.5%;
}
.top-margin {
}


.block_region {
    position: relative;
}

.block_region .overlay_region {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.block_region .inner_region {
    position: relative;
    pointer-events: none;
    z-index: 1;
}

.block_region .inner_region a {
    pointer-events: all;
}


a.region{
    color: black;
}
a.region:link {
    text-decoration: none;
}

a.region:visited {
    text-decoration: none;
}

a.region:hover {
    text-decoration: none;
}

a.region:active {
    text-decoration: none;
}

/*********************** Mobile Layout ***************************/
@media screen and (max-width: 1000px) {
    .grid-container {
        grid-template-columns: 100%;
        margin-left: 5%;
        margin-right: 5%;
    }
    h2{
        font-size: 200%;
    }
    p{
        font-size: 175%;
    }
    ul{
        font-size: 165%;
    }
    .top-margin{
        padding-top: 8em;
    }
}