/********************************** Grid Layout **********************************/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 2em;
}

/********************************** Project Items **********************************/
p.just {
    text-align: justify;
}

hr.table {
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
    border-style: inset;
    border-width: 20px;
    border: solid #022E6D;
}

hr.projects {
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 15%;
    margin-right: 15%;
    border-style: inset;
    border-width: 20px;
    border: solid #022E6D;
}

.smaller{
    margin-left: 17.5%;
    margin-right: 17.5%;
}
.top-margin {
}

/*********************** Mobile Layout ***************************/
@media screen and (max-width: 1000px) {
    .grid-container {
        grid-template-columns: 100%;
        margin-left: 5%;
        margin-right: 5%;
    }
    h2{
        font-size: 200%;
    }
    p{
        font-size: 175%;
    }
    ul{
        font-size: 165%;
    }
    .top-margin{
        padding-top: 8em;
    }
}